body{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}

.jumbotron{
    text-align: center;
    background-color: skyblue;
    color: white;
    border-radius: 50px;
}

#saorla_icon{
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 45%;
}

header{
    width: 100%;
    height: auto;
    background-color: white;
}

nav{
    font-size: 260%;
    height:auto;
    margin-bottom: 20px;;
    padding: 1%;
    background-color: white;
    position:relative;
}

nav li{
    min-height: 100%;
    margin: auto;
}

#hero_image{
    margin: auto;
}


.footer{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background-color: skyblue;
    font-size: 150%;
}

.footer .container{
    width: 100%;
}

.footer_icon{
    height: 25px;
}

.footer h4{
    text-align: center;
}
